<div class="modal-overlay" *ngIf="!logged">
    <div class="modal">
        <app-modal-register *ngIf="registerCard" (card)="changeRegisterCard($event)"></app-modal-register>
        <app-modal-login *ngIf="!registerCard" (card)="changeRegisterCard($event)"></app-modal-login>
    </div>
</div>

<div class="modal-overlay" *ngIf="openRequestModal">
    <div class="modal">
        <app-new-game-modal (new)="closeRequestModal($event)"
        [ai]="requestModalForAI"></app-new-game-modal>
    </div>
</div>

<div class="app">
    <app-board [gameId]="gameId"></app-board>
    <app-menu (openGame)="open($event)" (openGameModal)="openGameModal($event)" [gameId]="gameId"></app-menu>
</div>

<app-toast></app-toast>