<div class="buttons">
    <app-button (click)="newGame()">New Game</app-button>
    <app-button (click)="newAIGame()">vs. AI</app-button>
    <div class="separator">❦</div>
    <app-button (click)="getGames()">Games</app-button>
    <app-button (click)="getRequests()">Requests</app-button>
    <app-button (click)="getArchive()">History</app-button>
</div>
<div class="games">
    <app-game-list [games]="games" [active]="activeView" [requests]="requestView" (openGame)="open($event)"></app-game-list>
</div>
<div class="chat" *ngIf="gameId">
    <app-chat></app-chat>
</div>