:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    max-height: 100vh;
    box-sizing: border-box;
}

.games {
    flex: 2;
    overflow-y: auto;
}

.chat {
    flex: 3;
    overflow-y: auto;
}