<h2>Create new game</h2>
<form [formGroup]="requestForm" (ngSubmit)="finish()">
  <input *ngIf="!ai" type="text" name="username" placeholder="Username" formControlName="username">

  <fieldset class="input-section">
    <div class="rule-choice">
      <input type="radio" value="British" formControlName="rules"> 
      <div class="rules-name">British</div>
      <div class="rules-desc"></div>
    </div>
  </fieldset>

  <fieldset class="input-section" *ngIf="ai">
    <div class="ai-choice">
      <input type="radio" value="Random" formControlName="ai_type"> 
      <div class="ai-name">Random</div>
      <div class="ai-desc"></div>
    </div>
    <div class="ai-choice">
      <input type="radio" value="Counting" formControlName="ai_type"> 
      <div class="ai-name">Counting</div>
      <div class="ai-desc"></div>
    </div>
  </fieldset>

  <input type="submit" value="Create">
</form>