.toasts {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.toasts ul {
    list-style: none;
    padding: 0;
}

.toasts li {
    background-color: var(--surface-03);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 150px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}